<section class="bg-main Footer">
    <div class="">

      <!-- <div class="row">
			<div class="hero SocialLinks">
				<div class="hero-inner">
					<div class="Social">
						<li><a href="https://dribbble.com/AnikaJaffara"><i class="fi-social-dribbble"></i></a></li>
						<li><a href="https://github.com/AnikaJaffara"><i class="fi-social-github"></i></a></li>
						<li><a href="https://twitter.com/AnikaJaffara"><i class="fi-social-twitter"></i></a></li>
						<li><a href="https://www.medium.com/@anikajaffara/"><i class="fi-social-medium"></i></a></li>
						<li><a href=""><label for="modal-1"><i class="fi-mail"></i></label></a></li>

					</div>
				</div>
			</div>
     </div> -->


     <div class="row">
       <div class="col-xs-12 text-center ContactIcon">
       <div class="col-xs-2 col-xs-offset-2 text-center p-t-2">
       <a class="page-scroll" href="https://linkedin.com/in/anikajaffara
">
         <i class="fa fa-3x fa-linkedin text-center"></i>
       </a>
       </div>

       <!-- <div class="col-xs-1 p-t-2">
       <a href="https://twitter.com/AnikaJaffara">
         <i class="fa fa-2x fa-twitter ContactIcon"></i>
       </a>
       </div> -->

       <div class="col-xs-2 p-t-2">
       <a href="https://github.com/AnikaJaffara">
         <i class="fa fa-3x fa-github text-center "></i>
       </a>
       </div>

       <div class="col-xs-2 p-t-2">
       <a href="https://dribbble.com/AnikaJaffara">
         <i class="fa fa-3x fa-dribbble text-center"></i>
       </a>
       </div>

       <div class="col-xs-2 p-t-2">
       <a href="https://www.medium.com/@anikajaffara/">
         <i class="fa fa-3x fa-medium text-center"></i>
       </a>
       </div>
       </div>
     </div>

  </div>
</section>

<div class="container-fluid bg-blue Foot">
  <div class="row text-center p-y-1">
    <a href="mailto:{{ site.email }}"><h3>hey@AnikaJaffara.com</h3></a>
  </div>
</div>
