<br>
<br>
<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 m-y-3">
    <h2 class="text-center">Complete this short form.<br>We'll start customizing your solution within 24 hours.<br>Breathe easy... help is on the way!</h2>

    <h6 class="text-muted text-center p-t-1">Your privacy is very important to us. We'll never share your information with anyone.... EVER!</h6>
  </div>

  <div>
      <form  action="https://formspree.io/sold@cwhomebuyers.com" method="POST">
        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-10 col-md-offset-1">
            <input type="text" class="form-control" id="InputName" placeholder="Name" name="name">
          </fieldset>
        </div>

        <div class="form-group row">
            <fieldset class="col-xs-12 col-md-3 col-md-offset-1 form-group">
              <input type="text" class="form-control" id="InputPhone" placeholder="Phone Number" name="phone">
            </fieldset>

            <fieldset class="col-xs-12 col-md-7 form-group">
              <input type="email" class="form-control" id="InputEmail" placeholder="Email Address" name="email">
            </fieldset>
            </form>
        </div>

        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-10 col-md-offset-1">
            <input type="text" class="form-control" id="InputAddress" placeholder="Property Address" name="address">
          </fieldset>
        </div>

        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-4 col-md-offset-1 form-group">
            <input type="text" class="form-control" id="InputCity" placeholder="City" name="city">
          </fieldset>

          <fieldset class="col-xs-12 col-md-3 form-group">
            <input type="text" class="form-control" id="InputState" placeholder="State" name="state">
          </fieldset>

          <fieldset class="col-xs-12 col-md-3 form-group">
            <input type="text" class="form-control" id="InputZip" placeholder="Zip" name="zip">
          </fieldset>
        </div>

        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-10 col-md-offset-1">
              <input class="form-check-input" type="radio" id="Radios" value="option1"> Single-family house
            </label>
            <br>
              <input class="form-check-input" type="radio" id="Radios" value="option2"> Multi-unit apartment building
            </label>
          </div>

          <div class="form-group row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
            <textarea class="form-control" id="InputTextarea" rows="3" placeholder="Tell us a little about the property" name="textarea"></textarea>
          </fieldset>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h4><a href="#"><button type="submit" value="submit" class="btn-default btn-sm">Get Started</button></a></h4>
        </div>
      </form>
  </div>
</div>
